.card {
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.05);
}

.price-card {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}

.price-card__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.price-card__texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price-card__total {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.price-card__preco {
  font-size: 20px;
}

.chart-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 440px;
}

@media (max-width: 480px) {
  .chart-card {
    min-width: auto;
    flex-direction: column;
    gap: 20px;
  }
}
