.card {
  border-radius: 10px;
  padding: 20px;
  background-color: var(--color-gray);
}

.price-card {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}

.price-card__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-card__texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price-card__total {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.price-card__preco {
  font-size: 20px;
}

.chart-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 440px;
}

.table-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  width: inherit;
}

.card__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px 10px;
}

.table-card__dropdowns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.circular-chart-card {
  width: inherit;
  flex: 0.5;
  display: flex;
  flex-direction: column;
}

.circular-chart-card-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.circular-chart-card-dados{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.circular-chart-card-dado{
  display: flex;
  align-items: center;
  gap: 10px;
}

.circular-chart-card-dado__value{
  font-size: 24px;
  font-weight: 600;
}
.circular-chart-card-dado__title{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.activities-list-card{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  width: inherit;
}

@media (max-width: 480px) {
  .chart-card {
    min-width: auto;
    flex-direction: column;
    gap: 20px;
  }
}
