.table__line__body > .css-1ex1afd-MuiTableCell-root:last-of-type {
  display: flex;
  justify-content: flex-end;
}

.table__line__header > .table__cell__header:last-of-type {
  text-align: right;
}

.table__line__header .table__cell__header {
  font-family: "Poppins-Regular", "Courier New", Courier, monospace ;
  background-color: #f2f2f2 ;
  
}

.table__line__body .table__body__cell {
  font-family: "Poppins-Regular", "Courier New", Courier, monospace;
  background-color: #f2f2f2;
  border: none;
}

.table__line__body .status--completed {
  background-color: #C9DECB ;
  color: #209332 ;
}

.table__line__body .status--canceled {
  color: #ff3030 ;
  background-color: #ffc8c7 ;
}

.table__line__body .status--pending {
  background-color: #EFE9CE ;
  color: #dfa504 ;
}

.table__line__body .status--uploading {
  background-color: #EED9CB ;
  color: #ff451d ;
}
