.membro-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .voltar-equipe{
    padding: 5px 20px;
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
  }
  