.header {
  padding: 20px 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  height: 90px;
  width: 100%;
  z-index: 99;
  position: fixed;
  background-color: white;
  top: 0;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foto-perfil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
}

.header__menu__mobile {
  cursor: pointer;
}

.header .TriggerButtonSimple{
  width: auto;
  color: var(--color-orange);
}

.menu-notification-dropdown{
  width: 100%;
  max-width: 350px;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  text-align: center;
  z-index: 100;
}

.CustomMenuSimple{
  width: 100%;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 10px;
  text-align: center;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .header__menu__mobile {
    display: none;
  }
  .header {
    padding: 20px 50px 20px 0;
    height: 90px;
    float: right;
  }
  .header-flex {
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }
}
