.navbar {
  position: fixed;
  opacity: 0;
  transition: 1s;
  top: -100%;
  width: 100%;
  padding: 80px 40px 40px 40px;
  background-color: var(--color-blue);
  z-index: 1000;
}

.navbar__close {
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
}

.exibeNavbar {
  top: 0 !important;
  opacity: 1 !important;
}

.navbar-flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.nav-link.active {
  background-color: var(--color-white);
  color: var(--color-blue);
}

.nav-link {
  padding: 5px 0 5px 10px;
  gap: 10px;
  border-radius: 16px;
  text-decoration: none;
  color: var(--color-white);
  transition: 1s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

span {
  transition: 1s;
}

.main-background-blur {
  transition: 1s;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 120px 0 0 30px;
    max-width: 200px;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    bottom: 0;
  }
  .navbar__close {
    display: none;
  }
  .navbar-flex {
    gap: 15px;
  }
  .nav-link {
    border-radius: 16px 0 0 16px;
  }
}
