.price-card {
  display: flex;
  justify-content: space-between;
}

.price-card__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.price-card__texts{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.price-card__total{
    color: rgba(0,0,0,0.5);
}
